/Kalkulator/nbproject/private/
/Kalkulator/build/
/ProjectPBO-semester1/nbproject/private/
/ProjectPBO-semester1/build/
/audio/nbproject/private/
/audio/build/
/tugasDatabase/nbproject/private/
/tugasDatabase/build/