*{
	margin:0;
	padding:0;
	line-height:1.5;
}

. header{
	border-bottom:7px solid darkblue;
	padding:10px 0;
}

. container{
	width:900px;
	margin:0 auto;	
}

. header . container h1 span{
	color:red;
}

. welcome{
	background-image:url();
	background-repeat:no-repeat;
	background-size:cover;
	padding:500px 0;
	text-align:center;
}

. welcome. container h2{
	color:blue;
}

. welcome. container p{
	font-size:20px;
	color:red;
	margin-bottom:20px;
}

. welcome. container button{
	background:transparent;
	padding:15px 500px;
	border:1px solid white;
	font-size:large;
	color:white;
	border-radius:10px;
	max-block-size:;
}